/* Global Styles */

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}


p, li, a, small {
  font-family: 'Roboto', sans-serif;
}

/* Font hierarchy */

h1 {
 font-size: 3em;
}

h2 {
 font-size: 2.25em;
}

h3 {
  font-size: 1.75em;
}

p {
  color: hsla(0, 0%, 0%, 0.8);
}

@media (min-width : 767px) {

  h1 {
   font-size: 1em;
  }

  h2 {
   font-size: 1.625em;
  }

  h3 {
    font-size: 1.375em;
  }

}

/* Global Styles termina */

.container-fluid{
	background-color: #121619;
	border: 0;
}

.navbar-header{
	width: 300px;
	padding: 5px;
}

.navbar-brand {
	background: url(assets/img/logo.png) no-repeat center / auto 100% transparent;
	text-indent: -10000px;
	width: 100%;
	margin-left: 6em;

}

.navbar {
	border: none;
}

.navbar-default .navbar-nav>li>a {
	padding-top: 20px;
	color: white;
}

/* Comienza el Header*/ 

header {
	height: 80vh;
	margin-top: -20px;
	background: url(assets/img/post-image.jpg) no-repeat center / cover transparent;
	text-align: center;
	padding-top: 200px;
}

header h1 {
  color: white;
  font-size: 5em;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
@media (max-width : 1280px) {

 header h1 {
   font-size: 4em;
   text-align: center;
   padding: 50px 60px 30px 60px;
  }
}

@media (max-width : 767px) {

 header h1 {
   font-size: 3em;
   text-align: center;
   padding: 80px 60px 30px 60px;
  }

.navbar-toggle{
  	margin-right: -140px;
  }
 .fecha p	{
	text-align: center;
	}

.i__comment{
	display: none;
	width: 80px;
	}
}

.navbar-brand{
	padding: 0px;
}

header i{
	margin-top: 100px;
	font-size: 3em;
	color: white;
}



/* Comienza Seccion 2 */
.section2{
	width: 100vw;
	padding-top: 20px;
}

.section2 .fecha i{
	font-size: 1em;
	color: #707070;
	padding: 5px;
	border-style: solid;
	border-width: .5px;
	border-radius: 100%;
}

.section2 .fecha{
	font-family: 'Playfair Display';
	padding-left: 5px;
	
}

.section2 p{
	color: #707070
	font-weight: light;
}

.section2 p .resaltado{
	color: #D56C6A;
}

.iconoslow{
	height: 200px;
	padding: 50px;
}

.i__heart--grey {
	float: left;
	font-size: 1.5em;
	color: white;
	border-radius: 100%;
	border-color: #707070;
	border-style: solid;
	border-width: .5px;
	padding: 8px;
	background-color: #707070;
	margin: 4px;
}

.i__share--grey {
	float: left;
	font-size: 1.5em;
	color: white;
	border-radius: 100%;
	border-color: #707070;
	border-style: solid;
	border-width: .5px;
	padding: 8px;
	background-color: #707070;
	margin: 4px;
}

button {
	width: 200px;
	float: left;
	font-size: 1.5em;
	color: white;
	padding: 8px;
	background-color: #707070;
	margin-left: 10px;
	border-radius: 20px 20px 20px 20px;
	

}

.i__comment--long{
	float: left;
	font-size: 1em;
}

.i__comment{
	float: left;
	padding-left: 5px;
	font-family: 'Playfair Display';
	font-size: 16px;
	color: white;
	margin: 0px;

}

/*section 3*/
.section3__container{
	border: solid 1px #cccccc;
	align-content: center;
	padding: 0;
}
.row__first i{
	float: left;
	font-size: 1.5em;
	color: #707070;
	border-radius: 100%;
	border-color: #cccccc;
	border-style: solid;
	border-width: .5px;
	padding: 8px;
	background-color: white;
	margin: 4px;
	position: absolute;
	z-index: 10;
	margin-top: -20px;
	margin-left: 50%;
}

.row__first img{
	float: left;
	margin-left: 150px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 100%;
	width: 180px;
	height: 180px;
	border: solid 1px #cccccc;
}

.row__first__inner.col-md-2{
	padding-top: 100px;

} 

.row__first__inner.col-md-2 strong{
	font-family: 'PlayFair Display';
	font-weight: bold; 
	font-style: italic;
}

.row__second__inner.col-md-5 p{
	font-family: 'Roboto';
	font-weight: lighter; 
	color: #707070;
	padding-top: 80px;
	margin-left: 60px;
}

.row__tips{
	width: 100%;
	height: 100px;
	background-color: #cccccc;
	margin-top: 250px;
}
.row__tips i {


@media (max-width : 767px){
	.row__second__inner.col-md-5.col-md-offset-1 p{
		box-sizing: border-box;
		margin-top: -30px;
	}
	.section3__container i{
		margin-top: -20px;
	}
}


footer{
	background-color: #121619;
	width: 100%;
	height: 100px;
	background: url(assets/img/logo.png) no-repeat center / auto 100% transparent;
}